<%= form_with(model: trim) do |form| %>
  <% if trim.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trim.errors.count, "error") %> prohibited this trim from being saved:</h2>

      <ul>
        <% trim.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "container">
    <div>
      <%= form.label :house_id,"Address", style: "display: block" %>
      <%= collection_select( :trim, :house_id, House.all, :id, :address, include_blank: 'None') %>
    </div>
    <br>
    <div class = "row">
      <div class = "col">
        <div>
          <%= form.label :picture,"Upload Photo", style: "display: block" %>
          <%= form.file_field :picture %>
        </div>
        <br>
        <div>
          <%= form.label :Content, style: "display: block" %>
          <%= form.text_field :content %>
        </div>
        <br><br>
      </div>
      <div class = "col">
        <div>
          <%= form.label :completed,"Who Completed This", style: "display: block" %>
          <%= collection_select( :trim, :completed, Person.all, :id, :full_name, include_blank: 'None') %>
        </div>
        <br>
        <div>
          <%= form.label :Notes, style: "display: block" %>
          <%= form.text_field :notes %>
        </div>
      </div>
    </div>
    <div>
      <br>
      <%= form.submit :"Save", class:"btn btn-outline-dark btn-lg"%>
    </div>
  </div>
<% end %>
