<div id="<%= dom_id trim %>">
  <div class="card" style="width: 18rem;">
    Last Update: 
    <%= trim.updated_at.in_time_zone('America/Chicago').strftime("%m/%d/%Y %I:%M%p")%><br>
    <% if trim.picture.attached? %>
      <img class="card-img-top" src="<%=(url_for(trim.picture))%>">
      <a href="<%=(url_for(trim.picture))%>"target="_blank">View Full Picture</a>
      <div class="card-body">
        <p class = "card-text">
        <%= trim.content%><br>
        </p>
        <p class = "card-text">
          <% if Person.where(id: trim.completed).exists?%>
            <%= trim.notes%> - 
            <%= Person.where(id: trim.completed).last.full_name%>
          <%else%>
            Note:
            <%= trim.notes%><br>
            <%= link_to "In Progess", edit_trim_path(trim) %>
          <%end%>
        </p>
      </div>
    <%else%>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= trim.content%></li>
        <li class="list-group-item">
        <% if Person.where(id: trim.completed).exists?%>
          <%= trim.notes%> - 
          <%= Person.where(id: trim.completed).last.full_name%>
        <%else%>
          Note:
          <%= trim.notes%><br>
          <%= link_to "In Progess", edit_trim_path(trim) %>
        <%end%>
        </li>
        
      </ul>
    <%end%>
  </div>
  <br>
</div>
