<p style="color: green"><%= notice %></p>
<h1>
<%= House.where(id: @trim.house_id).last.address%>
</h1>
<%= render @trim %>

<div>
  <%= link_to "Edit this trim", edit_trim_path(@trim) %> |
  <%= link_to "Back to trims", trims_path %>

  <%= button_to "Destroy this trim", @trim, method: :delete %>
</div>
