<p style="color: green"><%= notice %></p>
<h1>
<%= House.where(id: @trim.house_id).last.address%>
</h1>
<%= render @trim %>

<div>
  <%= link_to "Edit this trim", edit_trim_path(@trim), class:"btn btn-outline-dark btn-sm" %> |
  <%= link_to "Back", houses_path, class:"btn btn-outline-dark btn-sm"  %>
</div>
