<%= form_with(model: house) do |form| %>
  <% if house.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :City, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :Zip, style: "display: block" %>
    <%= form.text_field :zip %>
  </div>
  <br>
  <div>
    <%= form.label :plans, style: "display: block" %>
    <%= form.file_field :plans, multiple: true %>
  </div>
  <br>
  <div>
    <%= form.label :cabinet, "Cabinet Details", style: "display: block" %>
    <%= form.file_field :cabinet %>
  </div>
  <br><br>
  <div class="actions">
    <%= form.submit :"Save", class:"btn btn-outline-dark btn-lg"%>

  </div>
<% end %>
