<%= form_with(model: house) do |form| %>
  <% if house.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address, "Address", style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.text_field :zip %>
  </div>

  <div class = "form-group">
  <%= form_for @house do |f|%>
    <%= f.nested_fields_for :punches do |punch|%>
      <%= punch.text_field :content %>
      <%= punch.remove_nested_fields_link %>
    <%end%>
    <%= form.add_nested_fields_link :punches%>
  <%end%>
  </div>

  <div>
   <%= form.label :plans, style: "display: block" %>
    <%= form.file_field :plans %>
  </div>

  <div>
    <%= form.label :cabinet, "Cabinet Details", style: "display: block" %>
    <%= form.file_field :cabinet %>
  </div>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
