<div id="<%= dom_id house %>">
  <h2>
    <strong>Address:</strong>
    <%= house.address %>,
    <%= house.city %>, TX
    <%= house.zip %>
  </h2>

  <p>
    <h3>Plans:</h3><br>
    <% if @house.plans.attached? %>
      <% @house.plans.each do |plan| %>
        <image src="<%= url_for(plan) %>"><br>
        <a href="<%= url_for(plan) %>" target="_blank">View Full Plans</a>
      <% end %>
    <%else%>
      No Plans Uploaded
    <%end%>
  </p>

  <p>
    <h3>Cabinet:</h3><br>
    <% if @house.cabinet.attached? %>
      <image src = "<%=(url_for(@house.cabinet))%>"><br>
      <a href="<%=(url_for(@house.cabinet))%>"target="_blank">View Full Cabinet Details</a>
    <%else%>
      No Cabinet Details Uploaded
    <%end%>
  </p>
  <p>
    <h3>Rough In:</h3><br>
    <div class = "row">
      <div class = "col">
        <% Rough.all.each do |r| %>
          <%if house.id == r.house_id%>
            <%if r.completed == nil%>
              <%= render r %> 
            <%end%>
          <%end%>
        <%end%>
      </div>
      <div class = "col">
        <strong>Completed:</strong>
        <% Rough.all.each do |r| %>
          <%if house.id == r.house_id%>
            <%if r.completed != nil%>
              <%= render r %> 
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>
  </p>
  <%= link_to "Add Rough Task", new_rough_path, class:"btn btn-outline-dark btn-sm"  %>
  <p>
    <h3>Trim Out:</h3><br>
    <div class = "row">
      <div class = "col">
        <% Trim.all.each do |trim| %>
          <%if house.id == trim.house_id%>
            <%if trim.completed == nil%>
              <%= render trim %> 
            <%end%>
          <%end%>      
        <%end%>
      </div>
      <div class = "col">
        <strong>Completed:</strong>
        <% Trim.all.each do |trim| %>
          <%if house.id == trim.house_id%>
            <%if trim.completed != nil%>
              <%= render trim %> 
            <%end%>
          <%end%>      
        <%end%>
      </div>
    </div>
  </p>
  <%= link_to "Add Trim Task", new_trim_path, class:"btn btn-outline-dark btn-sm"  %>
  <p>
    <h3>Service Call:</h3><br>
    <div class = "row">
      <div class = "col">
        <% Service.all.each do |s| %>
          <%if house.id == s.house_id%>
            <%if s.completed == nil%>
              <%= render s %>
            <%end%>
          <%end%>
        <%end%>
      </div>
      <div class = "col">
        <strong>Completed:</strong>
        <% Service.all.each do |s| %>
          <%if house.id == s.house_id%>
            <%if s.completed != nil%>
              <%= render s %>
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>
  </p>
  <%= link_to "Add Service Task", new_service_path, class:"btn btn-outline-dark btn-sm"  %>
</div>
