<div id="<%= dom_id house %>">
  <h2>
    <strong>Address:</strong>
    <%= house.address %>,
    <%= house.city %>, TX
    <%= house.zip %>
  </h2>

  <p>
    <strong>Plans:</strong><br>
    <% if @house.plans.attached? %>
      <image src = "<%=(url_for(@house.plans))%>"><br>
      <a href="<%=(url_for(@house.plans))%>"target="_blank">View Full Plans</a>
    <%else%>
      No Plans Uploaded
    <%end%>
  </p>

  <p>
    <strong>Cabinet:</strong><br>
    <% if @house.cabinet.attached? %>
      <image src = "<%=(url_for(@house.cabinet))%>"><br>
      <a href="<%=(url_for(@house.cabinet))%>"target="_blank">View Full Cabinet Details</a>
    <%else%>
      No Cabinet Details Uploaded
    <%end%>
  </p>
  <p>
    <strong>Rough In:</strong><br>
    <% Rough.all.each do |r| %>
      <%if house.id == r.house_id%>
        <%= render r %> 
      <%end%>
    <%end%>
  </p>
  <%= link_to "Add Rough Task", new_rough_path, class:"btn btn-outline-dark btn-sm"  %>
  <p>
    <strong>Trim Out:</strong><br>
    <% Trim.all.each do |trim| %>
      <%if house.id == trim.house_id%>
        <%= render trim %> 
      <%end%>
    <%end%>
  </p>
  <%= link_to "Add Trim Task", new_trim_path, class:"btn btn-outline-dark btn-sm"  %>
  <p>
    <strong>Service Call:</strong><br>
    <% Service.all.each do |s| %>
      <%if house.id == s.house_id%>
        <%= render s %> 
      <%end%>
    <%end%>
  </p>
  <%= link_to "Add Service Task", new_service_path, class:"btn btn-outline-dark btn-sm"  %>
</div>
