<div id="<%= dom_id house %>">
  <p>
    <strong>Address:</strong>
    <%= house.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= house.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= house.zip %>
  </p>

  <p>
    <strong>Plans:</strong>
    <% if @house.plans.attached? %>
      <image src = "<%=(url_for(@house.plans))%>">
    <%end%>
  </p>

  <p>
    <strong>Cabinet:</strong>
    <% if @house.cabinet.attached? %>
      <image src = "<%=(url_for(@house.cabinet))%>">
    <%else%>
      No Cabinet Details Uploaded
    <%end%>
  </p>

</div>
