<div id="<%= dom_id house %>">
  <p>
    <strong>Address:</strong>
    <%= house.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= house.city %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= house.zip %>
  </p>

  <p>
    <strong>Plans:</strong>
    <%= house.plans %>
  </p>

  <p>
    <strong>Cabinet:</strong>
    <%= house.cabinet %>
  </p>

</div>
