<div id="<%= dom_id rough %>">
  <div class="card" style="width: 18rem;">
    Last Update: 
    <%= rough.updated_at.in_time_zone('America/Chicago').strftime("%m/%d/%Y %I:%M%p")%><br>
    <% if rough.picture.attached? %>
      <img class="card-img-top" src="<%=(url_for(rough.picture))%>">
      <a href="<%=(url_for(rough.picture))%>"target="_blank">View Full Picture</a>
      <div class="card-body">
        <p class = "card-text">
        <%= rough.content%><br>
        </p>
        <p class = "card-text">
          <% if Person.where(id: rough.completed).exists?%>
            <%= rough.notes%> - 
            <%= Person.where(id: rough.completed).last.full_name%>
          <%else%>
            Note:
            <%= rough.notes%><br>
            <%= link_to "In Progess", edit_rough_path(rough) %>
          <%end%>
        </p>
      </div>
    <%else%>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= rough.content%></li>
        <li class="list-group-item">
        <% if Person.where(id: rough.completed).exists?%>
          <%= rough.notes%> -
          <%= Person.where(id: rough.completed).last.full_name%>
        <%else%>
          Note:
          <%= rough.notes%><br>
          <%= link_to "In Progess", edit_rough_path(rough) %>
        <%end%>
        </li>
      </ul>
    <%end%>
  </div>
  <br>
</div>
